/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  background-size: cover;
  width: 100%;
  padding: 24px 36px;
  min-height: 100vh;
}
.card-container {
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 35px;
  }
}

.count-color {
  color: #ffd569;
}
.images {
  height: 250px;
  margin-bottom: 25px;
  margin-top: 30px;
}
.fruits-container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .fruits-container {
    display: flex;
    align-items: center;
  }
}

.btn {
  background-color: #007bff;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border-width: 0px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
}
